.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-hero-bg);
  height: calc(100vh - var(--navbar-height));

  &__title {
    font-size: 4rem;
    color: var(--clr-hero-text);
    margin-bottom: 2.5rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: var(--clr-hero-text);
  }

  &__socials {
    position: fixed;
    bottom: 0;
    right: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 2rem 0rem;

    &::after {
      content: "";
      margin-top: 1rem;
      display: block;
      width: 2px;
      height: 5rem;
      background-color: var(--clr-text-primary);
      margin-bottom: 1rem;
    }
  }

  &__socials-item {
    margin-top: 0.4rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__socials-link {
    font-size: 2rem;
    color: var(--clr-hero-text);
    margin-bottom: 0.9rem;

    &:hover {
      transform: scale(1.1);
      color: var(--clr-accent);
    }
  }

  &__name {
    font-size: 1.1rem;
    position: fixed;
    color: var(--clr-text-primary);
    bottom: 0;
    left: 0;
    align-items: center;
    margin-bottom: 15rem;
    margin-left: -3.9rem;
    transform: rotate(90deg);

    &::after {
      position: absolute;
      content: "";
      top: -1.8rem;
      right: -4rem;
      display: block;
      width: 2px;
      height: 5rem;
      background-color: var(--clr-text-primary);
      transform: rotate(-90deg);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 7rem;

    &--hidden {
      display: none;
    }
  }
}

// Media Queries

@media screen and (max-width: 1280px) {
  .hero {
    &__name {
      font-size: 1rem;
    }

    &__socials {
      font-size: 1rem;
    }

    &__socials-link {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 910px) {
  .hero {
    &__title {
      font-size: 3rem;
    }
    &__name {
      display: none;
    }

    &__socials {
      font-size: 1rem;
      display: none;
    }

    &__socials-link {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .hero {
    margin-top: 3.1rem;
    height: 20vh;

    &__arrow {
      display: none;
    }

    &__title {
      font-size: 3rem;
    }

    &__typewriter {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .hero {
    margin-top: 3.1rem;
    height: 15vh;

    &__title {
      font-size: 2.6rem;
    }
    &__name {
      display: none;
    }

    &__socials {
      font-size: 1rem;
      display: none;
    }

    &__socials-link {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 470px) {
  .hero {
    margin-top: 3.1rem;
    height: 15vh;

    &__title {
      font-size: 2rem;

      text-align: center;
    }
  }
}
