.typewriter {
  color: var(--clr-hero-text);
  display: table;
  font-size: 2rem;
}

.type {
  display: inline-flex;
}

.type span {
  word-break: break-all;
  height: 1.2em;
  width: 0%;
  overflow: hidden;
  animation: t 2s linear infinite alternate;
}

.type span:before {
  content: " ";
  display: inline-block;
}

@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}


@media screen and (max-width: 910px) {
  .typewriter {
    font-size:1.5rem;

  }
}


@media screen and (max-width: 650px) {
  .typewriter {
    font-size:1.2rem;

  }
}

@media screen and (max-width: 470px) {
  .typewriter {
    font-size:1rem;

  }
}

