@import-normalize; /* normalizes resets */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --navbar-height: 48px;

  --clr-navbar-bg: #101010;
  --clr-navbar-text: #ffffff;
  --clr-hero-bg: #101010;
  --clr-hero-text: #ffffff;
  --clr-bg-light: #161616;
  --clr-bg-dark: #101010;
  --clr-text-primary: #ffffff;
  --clr-text-secondary: #828282;

  --clr-accent: hsl(159, 100%, 31%);
  --clr-accent-light: hsl(159, 100%, 36%);
  --clr-accent-dark: hsl(159, 100%, 26%);

  --toastify-color-dark: #232323;

  --toastify-color-success: var(--clr-accent);
}

/* darkmode theme */
html[data-theme="dark"] {
}

*,
::before,
::after {
  font-family: var(--font-primary);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-bg-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  height: 2rem;
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent);
}

/* Accesability */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
